@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

:root {
  --primary-color: #1a23aa;
  --secondary-color: #2fa894;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: "Montserrat";
}

a,
li {
  list-style: none;
  text-decoration: none;
}

.import__files {
  font-size: 2rem;
  color: var(--primary-color);
}

.menu {
  display: flex;
  flex-direction: column;
  width: 4.5rem;
  height: 100vh;
  position: fixed;
  padding-top: 2rem;
  background-color: var(--primary-color);
  box-shadow: 0.3rem 0 1rem rgba(0, 0, 0, 0.5);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
}

.menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2.7rem;
  transition: all 0.2s;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: var(--white);
}

.active__tab {
  background-color: var(--white);
  color: var(--primary-color);
}
.menu__item:nth-child(5) {
  margin-top: 4rem;
}

.menu__item:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 1rem 1rem 1rem var(--primary-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 5rem;
}

.change__password {
  cursor: pointer;
}

.turnoff {
  cursor: pointer;
}

.inactive {
  display: none;
}
